.parent {
  position: absolute;  
  
}
.base1 {
  position: relative;
  top: 358px;
  left: 180px;
  width: 740px;
  height: 375px;
  background-color: #1B1B1B;    
  z-index: 0;
}

.base {
  position: relative;
  top: 360px;
  left: 351px;
  width: 605px;
  min-height: 110px;
  background-color: #1B1B1B;
  z-index: 0;
}
.topchess{
  position: relative;
  z-index: 10;
  background: transparent;
}